<tr>
  <td><%= order.customer.presentation %></td>
  <td><%= order_status_name order.status %></td>
  <td><%= link_to t('helpers.show'), [:admin, order] %></td>
  <td><%= link_to t('helpers.destroy'), [:admin, order], method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>